.autocomplete {
  transition: 0.5s;
  opacity: 0.2;

}
.autocomplete:hover {
  opacity: 1;
}

.linkShows {
  padding: 4px 10px 4px 10px;
  border-radius: 6px;
}
.linkShows:hover {
  background: gray;
}